.Card{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 350px;
	border: solid 2px white;
	border-radius: 5px;
	margin-left:60px;
	box-shadow: 1px 1px 1px 1px grey;
}

.Card:hover{
	transform: scale(1.1);
	transition: all 1s ease-out;	
}
.Card > p {
	
	background-color: #660075;
	color: 'Monoton', cursive;
	text-align: center;
	
}
.CardImg {
	
	height: 100% ;
	width: 100% ;
}

