.Card{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 350px;
	border: solid 2px white;
	border-radius: 5px;
	margin-left:60px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 1px 1px grey;
	 
}
.CardTitle {
	background-color: blueviolet;
	
}

.Card:hover{
	transform: scale(1.1);
	transition: all 1s ease-out;	
}
.CardTitle{
    color: 'Monoton', cursive;
	text-align: center;
}
.CardImg {
	object-fit: contain;
	
	height: 100% ;
	width: 100% ;
}

a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
}