.navbar {
    background-color: #660075;;
    color: #00FAFA;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items : center;
    /* flex-direction: row; */
    justify-content: space-between;
    height: 125px;
    padding-left: 20px;
    font-family:  'Montserrat Alternates', sans-serif;
}



.navbar a  {
    text-decoration : none;
    list-style : none;
    color :white;
    text-shadow: #FF00F0  1px 0 10px;
    font-weight: bold;
    font-size: 1.3rem;

}

ul {
    display: flex; 
    flex-direction: row;
    height: 100%;
    align-items: center;

}

 ul li {
    padding: 0;
    list-style: none;
    text-align : left;
    padding-right: 20px; 

} 

.nav-logo {
    width: 100px;
}
