.squareText{
    background-color:  rgba(0, 0, 5, 0.5); ; 
    background-image: none; 
    margin-top: 0; 
    color: white; 
    font-family: 'Montserrat', sans-serif;
    
    padding: 30px; 
    display: flex;
    
    height: auto;
}

