@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@300&family=Train+One&display=swap');


:root {
	/* couleur  */
	--first-color: #303132; 
	--second-color: #660075; 
	--third-color: #FF00F0;
	--four-color: #00FAFA; 
	/* fonts */
	--font-title: 'Train One', cursive;
	--font-nav: 'Montserrat Alternates', sans-serif;
	--font-content: 'Montserrat', sans-serif;
}


* {
	box-sizing: border-box;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
  }

  a {
	  text-decoration: none;
  }



